body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 18.5px);
  background: url("/space.jpg") center center / cover no-repeat;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 300px;
  height: 300px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.shooter {
  background-color: blue;
}

.invader {
  background-color: purple;
  border-radius: 10px;
}

.boom {
  background-color: red;
}

.laser {
  background-color: orange;
}
